<% const year = new Date().getFullYear() %>

<footer class="container" role="contentinfo">
  <p>© <%= year %>, CSE 340 App</p>
  <p>
    <a class="btn btn-danger" href="/cause-error" title="Trigger a 500 error for testing">
      Cause Error
    </a>
  </p>
</footer>
