<nav id="primary-nav" class="nav-bar" aria-label="primary">
  <div class="container">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">Custom</a></li>
      <li><a href="#">Sedan</a></li>
      <li><a href="#">SUV</a></li>
      <li><a href="#">Truck</a></li>
    </ul>
  </div>
</nav>
