<main id="management-view" class="narrow">
  <h1><%= title %></h1>

  <!-- Flash messages -->
  <%- messages() %>

  <section class="actions">
    <ul class="management-links">
      <li><a href="/inv/add-classification" class="btn" aria-label="Add a new classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory" class="btn" aria-label="Add a new inventory item">Add New Inventory</a></li>
    </ul>
  </section>
</main>