<main id="main-content" class="error-page">
  <section>
    <h1>404 - Page Not Found</h1>
    <p><%= message %></p>
    <p>
      Sorry, the page you are looking for doesn’t exist or may have been moved.
    </p>
    <a class="btn" href="/" title="Return to the home page">Return Home</a>
  </section>
</main>