<main id="main-content" class="error-page">
  <section>
    <h1>500 - Server Error</h1>
    <p><%= message %></p>
    <p>
      Something went wrong on our side. Please try again later or return to the
      home page.
    </p>
    <a class="btn" href="/" title="Return to the home page">Return Home</a>
  </section>
</main>